.container{
    text-align: center;
    background-color: rgb(28, 6, 66);
    padding: 25px;
    color: white
}
.container > h1 {
    margin: 12px;
    font-family: 'Pacifico', cursive;
}
.container > header {
    font-size: 21px;
}
.component{
    background-color: rgba(230, 230, 230, 0.821);
    display: flex;
    padding: 2vh 3vw;
    font-size: 19px;
}
.component > div > div {
    margin: 10px 0;
}
.component > div {
    margin: 0 5vw;
}
.component button {
    background-color:white ;
    color:  rgba(28, 6, 66, 0.859);
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    border: none;
    padding: 7px 20px !important;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    margin-top: 10px;

}
.component button:hover {
    cursor: pointer;
    text-decoration: underline;
}