.container {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.741);
    width: 100%;
    padding: 5vh 0 20vh 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.container > div {
    background-color: white;
    padding: 0vh 7vw;
    border-radius: 15px;
}
.container > div > h1{
    text-align: center;
    margin-top: 0;
}
.closebtn{
    position: relative;
    top: 10px;
    left: -5vw;
    border: none;
    padding: 5px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
}
.closebtn:hover{
    cursor: pointer;
    border: 1px grey solid;
}
.container > div > div {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.container>div>div>*{
    margin: 3px;
}
.container >div> div> div {
    flex-wrap: wrap;
        display: flex;
}
.container>div>div > input[type="text"] {
    border: 2px solid rgb(200, 195, 195);
    border-radius: 5px;
    padding: 8px;
}
.container>div>div> textarea[name="long_desc"]{
    min-height: 50px;
    padding: 0;
    text-align: start;
}
.container>div>div>button{
    width: 80px;
    background-color: whitesmoke;
    border: 1px solid rgb(176, 176, 176);
    padding: 5px 10px;
    border-radius: 10px;
}
.submitbtndiv{
    justify-content: center;
    align-items: center;
}
.submitbtn{
    width: auto !important;
    font-size: 19px;
    background-color: rgba(28, 6, 66, 0.859) !important;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 19px;
    border: none;
    padding: 7px 20px !important;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

.submitbtn:hover {
    cursor: pointer;
    text-decoration: underline;
}